@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&display=swap');
:root{
  --bg-main:#0a1628;
  --color-main:#fff;
  --light-bg:#1faee2;
  --border-color:#949cb0;
  --Footer-color:#060c14;
}
body{
  background-color: var(--bg-main);
  color: var(--color-main);
  font-family: 'Montserrat', sans-serif !important;
}
.brdr {
  background-color: var(--border-color);
  height: 1px;
}

.vote{
  background-color: var(--bg-main);
  top: 0;
  right: 0;
  opacity: 0.8;
}
.genre{
  background-color: var(--light-bg);
}
.foot{
  background-color: var(--Footer-color);
  font-size: 14px;
}
.navstyle{
  background-color: var(--Footer-color);
}